<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>What We Drink: A Collection of Cocktail Recipes</title>
	
	<!-- jQuery and helpers -->
	<%= javascript_include_tag :defaults %>
	
	<!-- Boostrap -->
	<%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'book' %>
	<%= javascript_include_tag 'bootstrap' %>
	
	<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://whatdididrink.com/book"/>
    <meta property="og:title" content="What We Drink: A Collection of Cocktail Recipes"/>
    <meta property="og:description" content="A collection of cocktails in a beautiful coffee style book. Recipes are paired with tips on how to best make them."/>
    <meta property="og:image" content="images/book-cover-small.png"/>
  
</head>
<body class="title-body">

<div class="jumbotron drink-title">

	<div class="container">
		<div class="col-xs-11 col-md-offset-3 title-column">
			<h1 class="h1-title title-color" style="letter-spacing: 3px;">
				W<span class="lower-title">HAT</span> W<span class="lower-title">E</span> D<span class="lower-title">RINK</span><br/> 
				<div class="subtitle">a collection of cocktail recipes</div>
			</h1>
			<p class="spaced"><%= link_to "Join the Mailing List!", "#mailinglist", :class => "btn btn-primary btn-lg", :role => "button" %></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row rowspace50">
		<div class="col-md-6 col-md-offset-3">
			<% if @gotemail != nil -%>
				<p class="spaced text-center"><b>Thanks for submitting your e-mail!</b><br/>We'll alert you when the book is available for purchase.</p>
			<% end -%>
			
			<h2 class="spaced text-center">the book</h2>

			<p class="spaced">
				We've been obsessed with cocktails for a long time. We go out to craft cocktail bars, we make cocktails at home, and of course we throw cocktail parties for our friends.  One of the biggest questions we get from our friends is, 
			</p>

			<p class="spaced">
				<em><b>"How can I make a great cocktail at home?"</b></em>
			</p>

			<p class="spaced">
				Of course, there are plenty of amazing cocktail books out there already, and in the past we've recommended a variety of them to our friends when we're asked this question.
			</p>

			<p class="spaced">
				We found that many of the existing books don't work well for the novice that is just getting started. We spent more than a year testing recipes and instructions with friends, all to put together a book that we think clearly and simply describes the basics of making a great cocktail.
			</p>

			<ul>
				<li class="spaced">
					We chose just 20 recipes, most of which are classics, but collectively demonstrate a broad cross-section of the world of cocktails.
				</li>
				<li class="spaced">
					We introduce cocktail making technique progressively through each recipe, so readers don't have to read through a bunch of text before starting to make a drink.
				</li>
				<li class="spaced">
					We also expose readers to basic cocktail theory through the recipes. For example, many people don't realize that sweetness can be countered with acidity, so if you accidentally put too much sugar in your cocktail, you can easily fix it by adding some lemon juice.
				</li>
			</ul>
			
			<p class="spaced">
				We also wanted to create a book that was as beautiful as it is functional. Each cocktail is accompanied by a full page high quality photograph. It's a book that looks as good lying on a coffee table in your living room as it will it in the kitchen or on your home bar.  Check out the book preview below:
			</p>
			
			<div style='width: 100%; margin-top: 30px;' class="text-center">
			  <object class='myWidget' data='http://www.blurb.com/assets/embed.swf' height='200' type='application/x-shockwave-flash' width='350'>
			    <param name='allowFullScreen' value='true' />
			    <param name='wmode' value='transparent' />
			    <param name='allowScriptAccess' value='always' />
			    <param name='movie' value='http://www.blurb.com/assets/embed.swf' />
			    <param name='FlashVars' value='book_id=4908138&amp;locale=en_US' />
			    <a href='http://www.blurb.com/books/4908138' target='_new'>
			      	<img src='http://assets3.blurb.com/images/uploads2/catalog/002/721/821/5290274-3321526b4aea6d4b45327e420147b089.jpg' id="backup-book-image"/>
			    </a>
			  </object>
			</div>
			
			<h2 class="text-center spaced">kickstarter</h2>
			
			<img src="/images/kickstarter-badge-funded.png" width="100" class="spaced" style="float: left; margin-right: 25px;"/>
			
			<p class="spaced">
				Initial funding for this project was provided through a <a href="http://bit.ly/whatwedrink-ks">campaign on Kickstarter</a>.  We are hugely indebted to the 57 people who chose to contribute to our cause and help make the book a reality!  We can't thank you enough for your support along the way and we hope that you love the book when you receive it.
			</p>

			<h2 class="text-center spaced" style="float: clear;">keep in touch</h2>
			
			<p class="spaced">
				We will post our project progress as updates on our <a href="http://bit.ly/whatwedrink-ks">Kickstarter page</a> and <a href="http://blog.whatdididrink.com/">our blog</a>.  The blog also documents our other cocktail adventures beyond the book, as well as our plans for our next book project that will be ramping up once we get this first book sent off to the printers, so please check that out.
			</p>
			
			<p class="spaced">
				If you didn't get a chance to order a copy of the book through the Kickstarter, you will still be able to order a copy once the bulk printing is complete.  If you'd like us to notify you when books are available for order, please enter your e-mail address in the form below.  We will only use your e-mail address to send you very occassional updates on this and future books that we write.
			</p>

			<% if @gotemail != nil -%>
				<p class="spaced text-center"><b>Thanks!</b></p>
			<% else -%>
				<%= form_tag('/book', {class: 'spaced form-inline text-center'}) do %>
				    <%= label_tag :email, "E-mail:", :class => 'control-label' %>
				    <%= email_field_tag :email, "", {:class => 'form-control'} %>
				    <%= submit_tag nil, :class => 'btn btn-primary' %>
				<% end %>
			<% end -%>
			
			<h2 class="text-center spaced">
				<b>cheers!</b>
			</h2>
		</div>
	</div>
</div>

<div class="footer" id="footer">
	<div class="footer-content container">
		<div class="col-md-6">
			<p><small>Copyright &copy; 2015, Snooty Bird, LLC</small></p>
		</div>
		<div class="col-md-6 text-right">
			<p><small>For questions and information, please contact <a href="mailto:jeff@jeffreynichols.com">Jeff</a>.</small></p>
		</div>
	</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37810022-1']);
  _gaq.push(['_setDomainName', 'whatdididrink.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
