<% if !logged_in? -%>
<p>
	Login with your favorite social network:
</p>
<ul>
	<li><%= link_to 'Login with Twitter', '/auth/twitter' %></li>
	<li><%= link_to 'Login with Foursquare', '/auth/foursquare' %></li>
</ul>

<p>
	If you'd prefer to not use one of these services, <%= link_to "create an account", new_identity_path %> or login:
</p>

<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, "E-mail" %><br>
    <%= email_field_tag :auth_key %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Login" %></div>
<% end %>
<% else -%>
<p>
  Logged in as <%= link_to h(current_user.full_name), current_user %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Created By</th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= link_to h(drink.name), drink %></td>
    <td><%=h drink.created_by %></td>
    <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'New drink', new_drink_path %> - <%= link_to 'logout', logout_path %>
</p>
<% end -%>