<p>
  Logged in as <%= link_to h(@user.full_name), @user %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Created By</th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= link_to h(drink.name), drink %></td>
    <td><%=h drink.created_by %></td>
    <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'New drink', new_drink_path %> - <%= link_to 'logout', logout_path %>
</p>
