<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :autocorrect => "off", :placeholder => "e.g., Negroni" %>
  </div>
  <div class="field">
    <%= f.label :created_by, "Creator" %>
    <%= f.autocomplete_field :created_by, autocomplete_drink_created_by_drinks_path, :autocorrect => "off", :placeholder => "e.g., David Embury" %>
  </div>
  <div class="field">
    <%= f.label :recipe do %> 
		Recipe - <%= link_to "Format", format_drinks_path, "data-rel" => "dialog", "data-transition" => "pop", :class => "smalllink", "data-inline" => true %>
	<% end -%>
    <%= f.text_area :recipe, :placeholder => "Click the format link to see an example" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
