<% if recipe -%>
	<% if recipe["ingredients"] -%>
	<p class="ingredient_list">
		<% recipe["ingredients"].each { |i| -%>
			<span class="ingredient">
			<% if i["amount"] -%>
				<span class="value"><%=h i["amount"] %></span>
			<% end -%>
			<% if i["units"] -%>
				<span class="type"><%=h i["units"] %></span>
			<% end -%>
			<%=h i["ingredient"] %>
			</span><br/>
		<% } -%>
	</p>
	<% end -%>

	<% if recipe["instructions"] -%>
	<p class="instructions">
		<%=h recipe["instructions"] %>
	</p>
	<% end -%>

	<% if recipe["comments"] -%>
	<% paragraphs = recipe["comments"].split(/[\s\r]*\n[\s\r]*\n/) -%>
	<% paragraphs.each { |p| -%>
		<% hp = h(p) %>
		<% hp.gsub!(/(https?\:\/\/\S+)/, '<a href="\1">\1</a>') -%>
		<p>
			<%= raw(hp) %>
		</p>
	<% } -%>
	<% end -%>
<% end -%>
