<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @drink.name %>
</p>

<p>
  <b>Recipe:</b>
  <%= @drink.recipe %>
</p>

<p>
  <b>Created by:</b>
  <%= @drink.created_by %>
</p>

<p>
  <b>Urls:</b>
  <%= @drink.urls %>
</p>


<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
