<p>
  <b>Name:</b> <%=h @drink.name %><br/>
  <% if @drink.created_by != nil and @drink.created_by != "" -%>
	<small>Created by <%=h @drink.created_by %></small>
  <% end -%>
</p>

<% if @user != nil -%>
<p>
	<%= form_tag checkin_drink_path(@drink) do |f1| %>
	<%= submit_tag 'Checkin' %> 
	<% end %>
	- 
	<% if current_user.wishedFor?(@drink) -%>
		<%= form_tag({:controller => :wishes, :action => :destroy}, :method => :delete) do |f2| %>
		<%= hidden_field_tag :drink_id, @drink.id %>
		<%= submit_tag 'Remove From Wish List' %> 
		<% end -%>
	<% else -%>
		<%= form_tag :controller => :wishes, :action => :create do |f2| %>
		<%= hidden_field_tag :drink_id, @drink.id %>
		<%= submit_tag 'Add To Wish List' %> 
		<% end -%>
	<% end -%>
</p>
<% end -%>

<p>
  <b>Recipe:</b>
  <pre><%=h @drink.recipe %></pre>
</p>

<% if @drink.urls != nil and @drink.urls != "" -%>
<p>
  <b>URLs:</b>
</p>

<ul>
  <%= render :partial => 'url', :collection => @drink.urls_array %>
</ul>
<% end -%>