<div class="hrecipe">
<p>
  <b>Name:</b> <span class="fn"><%=h @drink.name %></span><br/>
  <% if @drink.created_by != nil and @drink.created_by != "" -%>
	<small>Created by <span class="author"><%=h @drink.created_by %></span></small>
  <% end -%>
</p>

<% if current_user != nil -%>
	<p>
		<%= link_to 'Edit', edit_drink_path(@drink) %>
		- 
		<%= link_to 'Checkin', :controller => :checkins, :action => :new, :drink_id => @drink.id %>
		- 
		<% if current_user.wished_for?(@drink) -%>
			<%= form_tag({:controller => :wishes, :action => :destroy}, :method => :delete) do |f2| %>
			<%= hidden_field_tag :drink_id, @drink.id %>
			<%= submit_tag 'Remove From Wish List' %> 
			<% end -%>
		<% else -%>
			<%= form_tag :controller => :wishes, :action => :create do |f2| %>
			<%= hidden_field_tag :drink_id, @drink.id %>
			<%= submit_tag 'Add To Wish List' %> 
			<% end -%>
		<% end -%>
	</p>
<% end -%>

<% if @drink.images.size > 0 -%>
<p>
	<% @drink.images.each { |i| -%>
		<%= link_to image_tag(i.image_url(:small).to_s, :class => "photo"), i %> 
	<% } -%>
</p>
<% end -%>

<p>
  <b>Recipe:</b>
  <%= render :partial => 'recipe', :object => @drink.recipe_json %>
</p>

<h3>Upload an image</h3>

<%= form_for(@image, :html => {:multipart => true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :drink_id %>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
</div>