<script>
	drinkId = <%= @drink.id %>;
	<% if @drink.images != nil and @drink.images.count > 0 -%>
		drinkImageURL = "<%= @drink.images[0].image_url %>"
	<% else -%>
		drinkImageURL = null;
	<% end -%>

	if (drinkImageLoad == null)
	{
		// ensure this is only executed once 
		var drinkImageLoad = function() {

			if ($($.mobile.activePage).find("div.drink-" + drinkId) != null && drinkImageURL != null)
			{
				//new image
				var drinkImg = new Image();

				//bind onload to image object
				drinkImg.onload = function() {

					// A bunch of hacky garbage to get the header drink image to display properly
					var ratio = 2;
					var width = $(document).outerWidth();
					var actualHeight = drinkImg.height / drinkImg.width * width
					var croppedHeight = width / ratio;
					var margin = (actualHeight - croppedHeight) / 4

					$($.mobile.activePage).find('div.drink-' + drinkId).parent().before($($.mobile.activePage).find('div.drink-' + drinkId));
					$($.mobile.activePage).find('div.drink-' + drinkId + ' .drink-image')
						.attr("src", drinkImg.src)
						.width(width + "px")
						.height(actualHeight + "px")
						.css("margin-top", "-" + margin + "px")
						.css("margin-bottom", "-" + (3 * margin) + "px");
					$($.mobile.activePage).find('div.drink-' + drinkId)
						.width(width + "px")
						.height(croppedHeight + "px");
					
					drinkImageURL = null
				};

				drinkImg.src = drinkImageURL
			}
		};

		$(document).bind('pageinit', drinkImageLoad);
	}
</script>

<div class="drink-image-surround drink-<%= @drink.id %>">
	<%= image_tag "", :class => 'drink-image' %>
</div>

<div class="drink-title-block">
	<span class="largetext"><%=h @drink.name %></span>
	<% if @drink.created_by != nil and @drink.created_by != "" -%>
		<br/><span class="smalltext">Created by <%=h @drink.created_by %></span>
	<% end -%>
</div>

<% if current_user != nil -%>
	<div data-role="controlgroup">
		<%= link_to 'Checkin', {:controller => :checkins, :action => :new, :drink_id => @drink.id}, "data-role" => "button", "data-ajax" => "false" %>
		<div id="drink-wishlist-button">
		<% if current_user.wished_for?(@drink) -%>
			<%= render partial: "removewish", locals: {drink: @drink} %>
		<% else -%>
			<%= render partial: "addwish", locals: {drink: @drink} %>
		<% end -%>
		</div>
		<%= link_to 'Edit', edit_drink_path(@drink), "data-role" => "button" %>
	</div>
<% end -%>

<!--
<% if @drink.images.size > 0 -%>
<p>
	<% @drink.images.each { |i| -%>
		<%= link_to image_tag(i.image_url(:small).to_s), i %> 
	<% } -%>
</p>
<% end -%>
-->

<p>
  <b>Recipe:</b>
  <%= render :partial => 'recipe', :object => @drink.recipe_json %>
</p>

<h5>Upload an image</h5>

<%= form_for(@image, :html => {:multipart => true, "data-ajax" => false}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :drink_id %>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
