<h1><%=h @user.full_name %></h1>

<p>
	<%= link_to "Edit Profile", edit_user_path(@user) %>
</p>

<% if @user.venue -%>
<p>
	<b>Current Location:</b> <%= link_to h(@user.venue.name), @user.venue %>
</p>
<% end -%>

<table>
	<tr><td valign="top">
		<h2>Drank</h2>

		<% if @user.checkins.size > 0 -%>
		<ul>
		<% @user.checkins.each { |c| -%>
			<li><%= link_to h(c.drink.name), c.drink %><br/>
			<% if c.notes and c.notes != "" -%><small><%= link_to "Notes", c %></small><br/><% end -%>
			<small><%= c.created_at %></small></li>
		<% } -%>
		</ul>
		<% else -%>
			<p>
				Nothing yet.
			</p>
		<% end -%>
	</td><td valign="top">
		<h2>Wish list</h2>

		<% if @user.wishes.size > 0 -%>
		<ul>
		<% @user.wishes.each { |c| -%>
			<li>
				<%= link_to h(c.drink.name), c.drink %>
				<%= form_tag({:controller => :wishes, :id => c.id, :action => :destroy}, :method => :delete) do |f| -%>
				<%= hidden_field_tag :drink_id, c.drink.id %>
				<%= submit_tag 'Remove' %> 
				<% end -%>
			</li>
		<% } -%>
		</ul>
		<% else -%>
			<p>
				Nothing yet.
			</p>
		<% end -%>
	</td></tr>
</table>
