<h1><%=h @user.full_name %></h1>

<table>
	<tr><td valign="top">
		<h2>Drank</h2>

		<ul>
		<% @user.checkins.each { |c| -%>
			<li><%= link_to h(c.drink.name), c.drink %><br/>
			<% if c.notes and c.notes != "" -%><small><%= link_to "Notes", c %></small><br/><% end -%>
			<small><%= c.created_at %></small></li>
		<% } -%>
		</ul>
	</td><td valign="top">
		<h2>Wish list</h2>

		<ul>
		<% @user.wishes.each { |c| -%>
			<li>
				<%= link_to h(c.drink.name), c.drink %>
				<%= form_tag({:controller => :wishes, :action => :destroy}, :method => :delete) do |f| -%>
				<%= hidden_field_tag :drink_id, c.drink.id %>
				<%= submit_tag 'Remove' %> 
				<% end -%>
			</li>
		<% } -%>
		</ul>
	</td></tr>
</table>
