<div>
	<span class="username"><%=h @user.full_name %></span><br/>
	<span class="smalllink"><%= link_to "Edit Profile", edit_user_path(@user) %></span>
</div>

<% lc = current_user.last_checkin -%>
<% if lc != nil -%>
<div data-role="collapsible" data-content-theme="c" data-collapsed="false">
	<h3>Last Drink</h3>
	<table>
		<tr>
			<% if lc.drink_images and lc.drink_images.count > 0 -%>
				<td class="embed-drink-image-cell">
					<%= link_to lc do %>
						<%= image_tag lc.drink_images[0].image_url(:thumb), :class => "embed-drink-image" %>
					<% end -%>
				</td>
			<% end -%>
			<td class="embed-drink-text-cell">
				<span class="embed-drink-name"><%= link_to lc.drink.name, lc.drink %></span>
				<% if lc.venue != nil -%>
					<br/><span class="embed-drink-venue"><%= link_to lc.venue.name, lc.venue %></span>
				<% end -%>
				<% if lc.notes and lc.notes != "" -%>
					<br/><span class="embed-drink-notes"><%= link_to "Notes", lc %></span>
				<% end -%>
			</td>
		</tr>
	</table>
</div>
<% end -%>

<div data-role="controlgroup" class="ui-button-l">
	<%= link_to "Drink History", {:controller => :checkins, :action => :index}, "data-ajax" => false, "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", :class => "ui-button-l" %>
	<%= link_to "Wish List", {:controller => :wishes, :action => :index}, "data-ajax" => false, "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", :class => "ui-button-l" %>
</div>

<div>
	<%= link_to "Social Media Connections", "#",  "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", :class => "ui-button-l" %>
</div>
