<%= javascript_include_tag "location" %>

<h3><%= @venue.name %></h3>

<% if @venue.images.size > 0 -%>
<p>
	<% @venue.images.each { |i| -%>
		<%= link_to image_tag(i.image_url(:small).to_s), i %> 
	<% } -%>
</p>
<% end -%>

<% if !@venue.verified -%>
<p>
	<%= form_tag(verify_venue_path(@venue), {:method => :put}) do |f2| %>
	<%= submit_tag 'Verify Venue' %>
	<% end -%>
</p>
<% end -%>

<% if logged_in? -%>
<p>
	<%= form_tag(update_location_user_path(current_user), {:method => :post}) do |f2| %>
		<%= hidden_field_tag :venue_id, @venue.id.to_s %>
		<%= submit_tag 'I am here' %>
	<% end -%>
</p>
<% end -%>

<p>
  <i>Address:</i><br/>
  <%= @venue.address %><br/>
  <%= @venue.city%>, <%= @venue.state %> <%= @venue.postalCode %>
</p>

<h3>Upload an image</h3>

<%= form_for(@image, :html => {:multipart => true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :venue_id %>

  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
