<p>
  <b><%= @venue.name %></b>
</p>

<p>
  <i>Address:</i><br/>
  <%= @venue.address %><br/>
  <%= @venue.city%>, <%= @venue.state %> <%= @venue.postalCode %>
</p>

<p>
  <i>Lat/Long:</i>
  <%= @venue.lat %>, <%= @venue.lng %>
</p>
