<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>What Did I Drink?</title>

	<%= stylesheet_link_tag 'mobile' %>
	<%= stylesheet_link_tag 'ui-lightness/jquery-ui' %>
	
	<!-- jQuery includes -->
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "autocomplete-rails" %>
	<%= javascript_include_tag "jquery.infinitescroll" %>
	
	<!-- JQuery Mobile -->
	<%= javascript_include_tag "jquery.mobile-1.3.1" %>
	<%= stylesheet_link_tag "jquery.mobile.structure-1.3.1" %>
	<%= stylesheet_link_tag "jquery.mobile.theme-1.3.1" %>

	<!-- Mobile Stuff -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
	
	<!-- iOS stuff -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<link rel="apple-touch-icon" href="images/ios-icon.png" />

	<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
	<meta http-equiv="cleartype" content="on">

	<!-- For mobile browsers that do not recognize the viewport tag -->
	<meta name="MobileOptimized" content="320" />
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37810022-1']);
	  _gaq.push(['_setDomainName', 'whatdididrink.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div data-role="page">

	<header data-role="header" data-position="fixed">
		<h1>drink<span style="color: #fbb040;">?</span></h1>
		<% if logged_in? -%>
			<% if current_user.image_url != nil -%>
				<%= link_to "#popupProfileMenu", :class => "ui-btn-right", "data-role" => "none", "data-rel" => "popup" do %>
					<%= image_tag(current_user.image_url, "class" => "user-image-btn") %>
				<% end -%>
			<% else -%>
				<%= link_to "Settings", "#popupProfileMenu", :class => "ui-btn-right", "data-icon" => "gear", "data-iconpos" => "notext", "data-rel" => "popup" %>
			<% end -%>
		<% elsif controller.controller_name != 'front' -%>
			<%= link_to "Login", root_path, :class => "ui-btn-right" %>
		<% end -%>
	</header>

	<% if logged_in? -%>
		<div data-role="popup" id="popupProfileMenu" data-theme="c">
			<ul data-role="listview" data-inset="true" data-theme="c">
				<li><%= link_to "View Profile", root_path %></li>
				<li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
				<li><%= link_to 'Logout', logout_path, "data-ajax" => false %></li>
			</ul>
		</div>
	<% end -%>

	<% if notice != nil %>
		<div class="ui-bar ui-bar-e">
			<p><%= notice %></p>
		</div>
	<% end -%>

	<% if controller.controller_name == 'venues' -%>
		<div class="ui-bar ui-bar-d">
			<%= form_tag({:controller => :venues, :action => :search}, :method => :get, "data-ajax" => false) do |f| %>
			    <%= autocomplete_field :venue, :name, autocomplete_venue_name_venues_path, :placeholder => "Search venues", "data-mini" => "true", "type" => "search", :autocorrect => "off", :autocapitalize => "off", :value => @query ? @query : "" %>
				<%= hidden_field :lat, "", {:class => "lat_field"} %>
				<%= hidden_field :lng, "", {:class => "lng_field"} %>
			<% end %>
		</div>
	<% elsif controller.controller_name == 'drinks' -%>
		<div class="ui-bar ui-bar-d">
			<%= form_tag({:controller => :drinks, :action => :search}, :method => :get, "data-ajax" => false) do |f| %>
			    <%= autocomplete_field :drink, :name, autocomplete_drink_name_drinks_path, :placeholder => "Search drinks", "data-mini" => "true", "type" => "search", :autocorrect => "off", :autocapitalize => "off", :value => @query ? @query : "" %>
			<% end %>
		</div>
	<% end -%>

	<div data-role="content">

		<%= yield %>

	</div>

	<% if logged_in? -%>
		<div data-role="footer" data-position="fixed">
			<div class="footer-nav" data-role="navbar">
				<ul>
					<li><%= link_to 'drinks', drinks_path, :class => (controller.controller_name == 'drinks' ? 'ui-btn-active' : '')  %></li>
					<li><%= link_to 'venues', venues_path, :class => (controller.controller_name == 'venues' ? 'ui-btn-active' : '') %></li>
				</ul>
			</div>
		</div>
	<% end -%>

</div>

</body>
</html>
