<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>What Did I Drink?</title>

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%= stylesheet_link_tag 'mobile' %>
	<%= javascript_include_tag :defaults %>
</head>
<body>

	<h2>What Did I Drink?</h2>

	<% if logged_in? -%>
	<p>
		<%= link_to 'home', :controller => :front, :action => :main %> - 
		<%= link_to 'new drink', new_drink_path %> - 
		<%= link_to current_user.image_url != nil ? image_tag(current_user.image_url) : current_user.full_name, current_user %> -
		<%= link_to 'logout', :controller => :front, :action => :logout %> - 
	</p>
	<% end -%>

	<p style="color: green"><%= notice %></p>

	<%= yield %>

</body>
</html>
